# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# Playwright
/test-results
/playwright-report
/blob-report

# misc
.DS_Store
*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Personal transaction files
nexo_transactions_*.csv
